form {
  &.todo {
    border-bottom: 1px solid var(--form-element-border-color);
    padding-bottom: var(--typography-spacing-vertical);

    &:last-child {
      border-bottom: none;
    }
  }

  & ul.errors {
    & li {
      color: orange;
    }
  }

  &:invalid textarea {
    border-color: var(--form-element-invalid-border-color);
  }
}
